body {
    background-color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    font-size: 3rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

h2 {
    color: blue;
}

p {
    color: brown;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;   
}

footer p {
    color: gray;
    font-weight: bold;
}

img {
    width: 300px;
    height: 300px;
}